.btn.btn-outline-success,
.btn.btn-outline-secondary {
    font-size: medium;
}
.carditem-container {
    background-color: #f8f9fa;
    height: max-content;
    .card-body {
        height: 100%;
        border-bottom: none;
        .item-img {
            object-fit: cover;
        }
        .card-footer {
            background-color: #3f7652;
        }
    }
}
